<div ui-view='header'></div>
<div ng-controller="modulosCtrl as modulos">
	<div ui-view='left'></div>	

	<div layout="row">
<div flex="80" style="margin-left:5%;">
		
      	<md-input-container>
	        <label>Nombre módulo:</label>
	        <input ng-model="modulos.moduloObj.nombreModulo">
      	</md-input-container>

      	<md-input-container>
	        <label>Descripción:</label>
	        <textarea rows="4" cols="50" ng-model="modulos.moduloObj.descripcionModulo">
	        </textarea>
      	</md-input-container>

      	<div layout="row" style="margin-top:1%;">
        	<md-button ng-click="modulos.crearModulo()" class="btn-guardar-usuarios">Crear</md-button>	
        </div>
			
	</div>	
	</div>
</div>
</div>

<style>
	.btn-guardar-usuarios{
		background-color:#003366 !important;
		margin-left:50%;
		color:#fff;
	}
</style>