<div ui-view='header'></div>
<div layout="row">
<div flex="10" class="sidenav">
	<div ui-view='left'></div>	
</div>
<div flex="80" style="margin-left:5%;">
<div ng-controller="nuevaTareaCtrl as nuevaTarea">
	<h3>{{nuevaTarea.titulo}}</h3>

    <h5>Tipo Tarea:</h5>

    <md-select ng-model="tipoTarea">
            <md-option ng-repeat="tipo in tiposTareas" ng-value="tipo.nombreTipoTarea" ng-selected="$first">
              {{tipo.nombreTipoTarea}}
            </md-option>
    </md-select>

	 <md-input-container>
        <label>Nombre:</label>
        <input ng-model="nombreTarea">
      </md-input-container>
      <md-input-container class="md-block"">
          <label>Descripción</label>
          <textarea ng-model="descripcionTarea" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        </md-input-container>

        <h5>Archivo Adjunto</h5>
         <md-button class="md-raised">
        <label for="file-input">Seleccione</label>  
      </md-button>
      <input id="file-input" type="file" ng-show="false">

        <h5 ng-show="tipoTarea == 'TAREA'">Fecha Límite</h5>
        <h5 ng-show="tipoTarea == 'REUNION'">Fecha Reunión</h5>
         <md-datepicker ng-model="fechaFin" md-min-date="minDate" md-max-date="maxDate">
        </md-datepicker>

        <md-input-container ng-show="tipoTarea == 'REUNION'">
          <label>Hora: </label>
          <input type="time" ng-model="hora" style="width:35%;">
        </md-input-container>

        <div ng-show="tipoTarea == 'TAREA'">
          <h5>Criterios de evaluación:</h5>
          <div ng-repeat='criterio in criteriosEvaluacion'>
          <md-checkbox ng-checked="existsCriterios(criterio, criteriosSelected)" ng-click="toggleCriterios(criterio, criteriosSelected)">
                 {{ criterio.valorCriterio }} 
                </md-checkbox>        
          </div>    
        </div>
        <h5 ng-show="tipoTarea == 'TAREA'">Asignar tarea a:</h5>
        <h5 ng-show="tipoTarea == 'REUNION'">Asistentes:</h5>
        <div ng-repeat='usuario in usuariosModulo'>
        <md-checkbox ng-checked="exists(usuario, usuariosSelected)" ng-click="toggle(usuario, usuariosSelected)">
               {{ usuario.nombreCompleto }} 
              </md-checkbox>        
        </div>                  

        <div layout="row" style="margin-top:1%;">
        	<md-button ng-click="nuevaTarea.guardarTarea()" class="md-primary md-raised">{{nombreGuardar}}</md-button>	
        </div>
        <md-button ng-click="subirArchivo()" >Archivo</md-button>
</div>
</div>
</div>

<style>
  .sidenav{
    border-right:2px solid #889ea6;
  }
</style>