<div ui-view='header'></div>
<div layout="row">
<div flex="10" class="sidenav">
	<div ui-view='left'></div>	
</div>
<div flex="90" style="margin:0 5% 0 0">
		<div ng-controller="tareasCtrl as tarea">
			<div layout="row">
				<div style="text-align:center; padding:0 10%;"><h1>{{tarea.tareasModel.tarea.tareasEntity.nombreTarea}}</h1></div>
			</div>
			<div layout="row">
				<div style="padding:0 10%; width:100%;">
					<p>
						{{tarea.tareasModel.tarea.tareasEntity.descripcionTarea}}
					</p>
					<button type="button">ArchivoAdjunto.zip</button>
					<div style="height:15px;"></div>
					<md-input-container class="md-block">
						<label>Comentario</label>
						<textarea ng-model="tarea.observacionesDocente" md-maxlength="150" rows="5" md-select-on-focus class="textarea-comentario"></textarea>
					</md-input-container>
					<div style="margin-bottom:5%; text-align:center;">
					<md-button class="md-raised">
						<label for="file-input">Seleccione Archivo</label>  
						</md-button>
						<input id="file-input" type="file" ng-show="false">
						<div></div>
					<md-button type="button" class="md-raised md-primary"  ng-click="tarea.enviarTarea();">Guardar</md-button>

					</div>
				</div>
			</div>
			<div layout="row">
				
			</div>
			<a ui-sref="tarea"></a>
		</div>
	</div>

</div>

<style>
	.sidenav{
		border-right:2px solid #889ea6;
	}
	textarea.textarea-comentario{
		heigth:40vh;
	}
</style>