<div ui-view='header'></div>

<div ng-controller="tareasCtrl as tareas">
	<div ui-view='left'></div>
	<div layout="row">
		<div flex="90" style="margin:0 5% 0 0">
			<div layout="row" style="text-align:center;">
				<div class="contenedorTituloTarea" style="">
					<h1 class="tituloTarea">
						{{tareas.tareasModel.tarea.tareasEntity.nombreTarea}}
					</h1>
				</div>
			</div>
			<div layout="row">
				<div style="padding:0 10%; width:100%; text-align:center;">
					<p>
						{{tareas.tareasModel.tarea.tareasEntity.descripcionTarea}}
					</p>
					<a target="_self" href="http://www.pdf995.com/samples/archivoTarea.pdf" download="foo.pdf">
						<md-button class="md-raised md-alert" style="background-color:#e9eaea" type="button">
							<i class="fa fa-link" aria-hidden="true" style="font-size:17px;"></i> Descargar Adjunto
						</md-button>
					</a>

					<!--<md-button type="button" class="md-raised md-alert" ng-click="tareas.descargarArchivoTarea()" style="background-color:#e9eaea">
					<i class="fa fa-link" aria-hidden="true" style="font-size:17px;"></i>
					Descargar Adjunto
					</md-button>-->
					<div>
						<h4>Fecha de entrega: </h4><span>{{tareas.tareasModel.tarea.tareasEntity.fechaFin}}</span>
					</div>
					<div style="height:15px;"></div>
					<h3>Comentarios: </h3>
					<md-input-container class="md-block">
						<textarea ng-model="tareas.observacionesDocente" md-maxlength="150" rows="5" md-select-on-focus class="textarea-comentario"></textarea>
					</md-input-container>
					<div style="margin-bottom:5%; text-align:center;">
						<md-button class="md-raised">
							<label for="file-inputDetalle">
						<i class="fa fa-paperclip" aria-hidden="true" style="font-size:17px;"></i>
						Adjuntar
						</label>
						</md-button>
						<input id="file-inputDetalle" type="file" ng-show="false">
						<div></div>
						<md-button type="button" class="md-raised md-primary" style="background-color:#003366;" ng-click="tareas.enviarTarea();">
							Enviar
						</md-button>

					</div>
				</div>
			</div>
			<div layout="row">

			</div>
			<a ui-sref="tarea"></a>
		</div>
	</div>

</div>
<!--<div ui-view='footer'></div>-->

<style>
	.sidenav {
		border-right: 2px solid #889ea6;
	}

	textarea.textarea-comentario {
		heigth: 40vh;
	}
</style>