<div layout="row" style=" height:12vh;background-color:#f6f6f6;">
        <div flex="20" style=" width:100%;"></div>
        <div flex="60" style=" width:100%; text-align:center;">
                <a ui-sref="misNotas" ng-click="tareas.cargarTareas('CRE');">
	                <i class="fa fa-server subHeader-icons" aria-hidden="true">
	                    <span class="menu-subHeader">Mis notas</span>
	                </i>
                </a>
                <!-- <p style="display:inline-block; float:left;">Nuevo</p> -->
                <a ui-sref="reportes" ng-click="tareas.cargarTareas('ENV');">
	                <i class="fa fa-bar-chart subHeader-icons" aria-hidden="true">
	                    <span class="menu-subHeader">Reportes</span>
	                </i>
                </a>  
                <a ui-sref="notasDocentes" ng-click="tareas.cargarTareas('CLF');">                              
                     <i class="fa fa-users subHeader-icons" aria-hidden="true">
                        <span class="menu-subHeader">Notas Docentes</span>
                    </i>
                </a>                
        </div>
                <div flex="20" style=" width:100%;"></div>

    </div>