<div layout="row" style=" height:12vh;background-color:#f6f6f6;">
    <div flex="10" style=" width:100%;"></div>
    <div flex="80" style=" width:100%; text-align:center;">
        <i class="fa fa-certificate subHeader-icons" aria-hidden="true" ui-sref="tareas" ng-click="tareas.cargarTareas('CRE');">
	                    <span class="menu-subHeader">Categorías</span>
	                </i>
        <i class="fa fa-book subHeader-icons" aria-hidden="true" ui-sref="listaTareas" ng-click="tareas.cargarTareas('CRE');">
	                    <span class="menu-subHeader">Pendientes</span>
	                </i>
        <i class="fa fa-cloud-upload subHeader-icons" aria-hidden="true" ui-sref="listaTareas" ng-click="tareas.cargarTareas('ENV');">
	                    <span class="menu-subHeader">Entregadas</span>
	                </i>
        <i class="fa fa-check-circle-o subHeader-icons" aria-hidden="true" ui-sref="listaTareas" ng-click="tareas.cargarTareas('CLF');">
                        <span class="menu-subHeader">Calificadas</span>
                    </i>
        <i class="fa fa-pencil-square-o subHeader-icons" aria-hidden="true" ui-sref="nuevaTarea" ng-show="tareas.$sessionStorage.userData.idPerfil != 1">
	                    <span class="menu-subHeader">Nueva</span>
	                </i>
        <i class="fa fa-dot-circle-o subHeader-icons" aria-hidden="true" ui-sref="tareasEnviadas" ng-show="tareas.$sessionStorage.userData.idPerfil != 1">
	                    <span class="menu-subHeader">Calificar</span>
	                </i>
    </div>
    <div flex="10" style=" width:100%;"></div>

</div>

<style>
    i {
        color: #3d3d3d;
    }

    i:active {
        color: #000;
    }

    i:focus {
        color: #000;
    }

    i:hover {
        color: #000;
    }
</style>