<div ui-view='header'></div>
<div ng-controller="usuariosCtrl as usuarios"> 
<div ui-view='left'></div>

<div>
	<div ui-grid="usuarios.gridOptions" ui-grid-selection class="grid"></div>	
</div>
<div layout="row" style="margin-top:1%;">
   	<md-button ng-click="usuarios.eliminarUsuario()" class="btn-eliminar-usuarios">
   	<i class="fa fa-trash-o" aria-hidden="true"></i>
	Eliminar
	</md-button>	
</div>
</div>
<style>
	.btn-eliminar-usuarios{
		background-color: #aa2d24 !important;
		color:#fff;
		margin-left:50%;
	}
	.fa-trash-o{
		color:#fff;
	}
</style>