<div ui-view='header'></div>
<div ng-controller="usuariosCtrl as usuarios">
	<div ui-view='left'></div>	

	<div layout="row">
<div flex="80" style="margin-left:5%;">
		
      	<md-input-container>
	        <label>Nombre usuario:</label>
	        <input ng-model="nombreUsuario">
      	</md-input-container>

      	<md-input-container>
	        <label>Correo electrónico:</label>
	        <input ng-model="correoUsuario">
      	</md-input-container>

      	<md-input-container>
	        <label>Contraseña:</label>
	        <input ng-model="password">
      	</md-input-container>

      	<md-input-container>
	        <label>Nombres:</label>
	        <input ng-model="nombresUsuario">
      	</md-input-container>

      	<md-input-container>
	        <label>Apellidos:</label>
	        <input ng-model="apellidosUsuario">
      	</md-input-container>

      	<md-input-container>
	        <label>Perfil:</label>
	        <input ng-model="perfilUsuario">
      	</md-input-container>

      	<md-input-container>
	        <label>Módulo:</label>
	        <input ng-model="moduloUsuario">
      	</md-input-container>

      	<div layout="row" style="margin-top:1%;">
        	<md-button ng-click="usuarios.guardarUsuario()" class="btn-guardar-usuarios">Crear</md-button>	
        </div>
			
	</div>	
	</div>
</div>
</div>

<style>
	.btn-guardar-usuarios{
		background-color:#003366 !important;
		margin-left:50%;
		color:#fff;
	}
</style>