<div ui-view='header'></div>
<div layout="row">
<div flex="10" class="sidenav">
	<div ui-view='left'></div>	
</div>
<div flex="10"></div>
<div flex="80">
<div ng-controller="calificarTareaCtrl as calificarTareaCtrl">
	<div flex="90">		
		<div style="margin:0 auto; text-align:center;"><h2>{{calificarTareaCtrl.tareasModel.tarea.tareasEntity.nombreTarea}}</h2></div>
		<div style="margin:0 auto; text-align:left;">
			<span><strong>Docente:</strong></span>
			<span>{{calificarTareaCtrl.tareasModel.tarea.usuariosEntity.nombreCompleto}}</span>		
			<div></div>
			<span><strong>Comentario:</strong></span>
			<!-- <div style="margin:0 auto; text-align:left;border:1px solid;">
				<p>{{calificarTareaCtrl.tareasModel.tarea.ObservacionesDocente}}</p>
			</div>	
						 -->
			<!-- <md-toolbar class="md-accent">
			    <div class="md-toolbar-tools">
			      <h2 class="md-flex">Comentario:</h2>
			    </div>
		    </md-toolbar> -->
		    <md-whiteframe class="md-whiteframe-1dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
				<p>{{calificarTareaCtrl.tareasModel.tarea.ObservacionesDocente}}</p>
		    </md-whiteframe>
		    <div style="height:10px;"></div>
		    <div>
      			<md-button class="md-raised">Descargar archivo</md-button>
		    </div>
			<div style="text-align:left;">				
				<h3>Evaluar:</h3>
				<div ng-show="calificarTareaCtrl.criteriosTarea.indexOf(1) >= 0">
					<h5>Entregado:</h5>
					<md-switch ng-model="calificarTareaCtrl.tareaEntregada" ng-change="calificarTareaCtrl.calificacionEntregaTarea();" aria-label="Switch 1" class="md-primary"></md-switch>
				</div>
				<div ng-show="calificarTareaCtrl.criteriosTarea.indexOf(2) >= 0">	
					<h5>Calificación</h5>
					 <md-slider flex class="md-primary" md-discrete ng-model="calificarTareaCtrl.valorTareaSlider" step="1" min="0" max="5" aria-label="rating" ng-change="calificarTareaCtrl.calcularTotalCalificacion();">
	     			</md-slider>     								
				</div>
				<div ng-show="calificarTareaCtrl.criteriosTarea.indexOf(3) >= 0">	
					<md-input-container>
				        <label>Fecha Entrega:</label>
				        <input ng-model="calificarTareaCtrl.tareasModel.tarea.FechaEnvio" disabled>
				    </md-input-container>
				</div>

					<md-list>
						<md-list-item class="md-2-line veggie-option"  layout-wrap>
							<div class="md-item-text md-whiteframe-z1" flex>
							<h3>Total:</h3>
							<p>{{calificarTareaCtrl.totalCalificacionTarea}}</p>
							</div>
						</md-list-item>

					</md-list>
				<div style="text-align:center;">
      				<md-button class="md-raised md-primary" ng-click="calificarTareaCtrl.enviarCalificacion();">Enviar Calificación</md-button>
			    </div>

      		</div>				
	</div>
</div>
</div>

<style>

 .veggie-option .md-item-text {
 	margin: 0 25%;
 	text-align:center;
  padding: 8px;
  background: #f0f0f0;
  border-radius: 3px; }
 .veggie-option .md-item-text h3,
 .veggie-option .md-item-text p {
  padding: 0;
  margin: 0; }
</style>