<!DOCTYPE HTML>
<head>
    <link rel="stylesheet" type="text/css" href="/node_modules/angular-ui-grid/ui-grid.css" />
</head>
<body>
    <div ui-view='header'></div>
    <div style="height:20px;"></div>
    <div ng-controller="reunionesCtrl as reuniones">
    <div layout="row">
        <div flex="100" class="contenedor-reuniones">
            <div style="margin:0 auto; text-align:center;"><h1>Reuniones</h1></div>
            <div ui-grid="reuniones.gridOptions" ui-grid-selection class="grid"></div>
        </div>
    </div>
    </div>
</body>

<style>
    .contenedor-reuniones{
        /*border:1px solid;*/
        padding:0 2%;
    }
   
</style>