<!DOCTYPE HTML>
<head>
    <link rel="stylesheet" type="text/css" href="/node_modules/angular-ui-grid/ui-grid.css" />
</head>
<body>
    <div ui-view='header'></div>
    <div ng-controller="reunionesCtrl as reuniones">
    <div ui-view='left'></div>

    <div layout="row">
        <div flex="100" class="contenedor-reuniones">
             <div ui-grid="reuniones.gridOptions" ui-grid-selection class="grid"></div>
        </div>
    </div>
    </div>
<!--<div ui-view='footer'></div>    -->
</body>

<style>
    .contenedor-reuniones{
        /*border:1px solid;*/
        padding:0 2%;
    }
   
</style>