<h2>Usuarios reunion</h2>
<div ng-repeat='usuario in usuariosModulo'>
    <md-checkbox ng-checked="usrsReunionModalCtrl.exists(usuario)" ng-click="usrsReunionModalCtrl.toggle(usuario)">
        {{ usuario.nombreCompleto }}
    </md-checkbox>
</div>
<div class="row" style="text-align:center;">
    <div class="col-md-6">
        <button type="button" ng-click="usrsReunionModalCtrl.test()">Aceptar</button>     
    </div>
    <div class="col-md-6">
        <button type="button" ng-click="usrsReunionModalCtrl.test()">Cancelar</button>
    </div>
</div>