<div ui-view='header'></div>
<div ng-controller="notasCtrl as notas">
<div ui-view='left'></div>

	<div layout="row" style="padding:1%; width:90%;">
		<div flex="25" class="cajaResumenNotas">
			<i class="fa fa-puzzle-piece" aria-hidden="true" style="font-size:3em; display:block;"></i>
			<br/>
	    	<h3 class="tituloResumenNotas">Entregadas</h3>
	    	<h5>{{notas.resumenEntregadas}}</h5>
		</div>
		<div flex="25" class="cajaResumenNotas">
			<i class="fa fa-check-square" aria-hidden="true" style="font-size:3em; display:block;"></i>
			<br/>
	    	<h3 class="tituloResumenNotas">Calificadas</h3>
	    	<h5>{{notas.resumenCalificadas}}</h5>
		</div>
		<div flex="25" class="cajaResumenNotas">
			<i class="fa fa-window-close-o" aria-hidden="true" style="font-size:3em; display:block;"></i>
			<br/>
	    	<h3 class="tituloResumenNotas">No entregadas</h3>
	    	<h5>{{notas.resumenNoEntregadas}}</h5>
		</div>
		<div flex="25" class="cajaResumenNotas">
			<i class="fa fa-area-chart" aria-hidden="true" style="font-size:3em; display:block;"></i>
			<br/>
	    	<h3 class="tituloResumenNotas">Promedio de notas</h3>
	    	<h5>{{notas.resumenPromedio}}</h5>
		</div>
	</div>
	<div layout="row" style="padding:1%; width:90%;" >
		<div class="contenedorTituloTarea" ng-show="notas.tieneNotas">
			<h1 class="tituloTarea" style="border-bottom:none;">Reporte calificaciones</h1>
			<div ui-grid="notas.gridOptions" class="grid"></div>
		</div>
		<div class="contenedorTituloTarea" ng-show="!notas.tieneNotas">
			<h2>No existen registros de notas</h2>
		</div>
	</div>
</div>
<div ui-view='footer'></div>

<style>
	.cajaResumenNotas{
		border:2px solid; 
		border-color:#d4cccc; 
		text-align:center; 
		padding:20px; margin:0.5%;
	}
	.cajaResumenNotas:hover{
		border:2px solid; 
		border-color:#505c6a; 		
	}
	.tituloResumenNotas{
		border-bottom: 1px solid #dcd6d6;
		padding-bottom: 40px;
	}
	.cajaResumenNotas h5{
		font-size: 3em;
		margin:0;
	}
	.contenedor
</style>
